(
    dock_items:{
        log_list_tab:Tab(
            name:"Log",
            template:LogTab,
            kind:LogList,
        ),
        search:Tab(
            name:"Search",
            template:SearchFirstTab,
            kind:Search,
        ),
        run_tabs:Tabs(
            tabs:[
                run_first,
                ai_first,
            ],
            selected:0,
            closable:true,
        ),
        log_tabs:Tabs(
            tabs:[
                log_list_tab,
                profiler,
            ],
            selected:0,
            closable:true,
        ),
        outline_tabs:Tabs(
            tabs:[
                outline_first,
            ],
            selected:0,
            closable:true,
        ),
        file_tree_tab:Tab(
            name:"Files",
            template:FilesFirstTab,
            kind:StudioFileTree,
        ),
        split2:Splitter(
            axis:Horizontal,
            align:Weighted(0.5),
            a:edit_tabs,
            b:split3,
        ),
        9903258042520143774:Tab(
            name:"derive_widget.rs",
            template:CloseableTab,
            kind:CodeEditor,
        ),
        split4:Splitter(
            axis:Horizontal,
            align:Weighted(0.5),
            a:outline_tabs,
            b:design_tabs,
        ),
        run_list_tab:Tab(
            name:"Run",
            template:RunListTab,
            kind:RunList,
        ),
        edit_first:Tab(
            name:"",
            template:EditFirstTab,
            kind:EditFirst,
        ),
        root:Splitter(
            axis:Horizontal,
            align:FromA(250),
            a:file_tree_tabs,
            b:split1,
        ),
        design_first:Tab(
            name:"",
            template:DesignFirstTab,
            kind:DesignFirst,
        ),
        12116724897238924501:Tab(
            name:"char.rs",
            template:CloseableTab,
            kind:CodeEditor,
        ),
        file_tree_tabs:Tabs(
            tabs:[
                file_tree_tab,
                run_list_tab,
                search,
            ],
            selected:0,
            closable:true,
        ),
        edit_tabs:Tabs(
            tabs:[
                edit_first,
                10516293335019308946,
                9903258042520143774,
                12116724897238924501,
            ],
            selected:1,
            closable:true,
        ),
        design_tabs:Tabs(
            tabs:[
                design_first,
            ],
            selected:0,
            closable:true,
        ),
        run_first:Tab(
            name:"",
            template:RunFirstTab,
            kind:RunFirst,
        ),
        split1:Splitter(
            axis:Vertical,
            align:FromB(200),
            a:split2,
            b:log_tabs,
        ),
        outline_first:Tab(
            name:"",
            template:OutlineFirstTab,
            kind:OutlineFirst,
        ),
        10516293335019308946:Tab(
            name:"lib.rs",
            template:CloseableTab,
            kind:CodeEditor,
        ),
        profiler:Tab(
            name:"Profiler",
            template:ProfilerTab,
            kind:Profiler,
        ),
        split3:Splitter(
            axis:Horizontal,
            align:FromA(20),
            a:split4,
            b:run_tabs,
        ),
        ai_first:Tab(
            name:"",
            template:AiFirstTab,
            kind:AiFirst,
        ),
    },
    processes:[
    ],
    tab_id_to_file_node_id:{
        10516293335019308946:10516293335019308946,
        12116724897238924501:12116724897238924501,
        9903258042520143774:9903258042520143774,
    },
)